body{
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.image-back img{
    width: 100%;
}

.main-menu{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    position: absolute;
    top: 3em;
    left: 2em;
    align-self: end;

}

.menu-list ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    list-style: none;
    white-space: pre-wrap;
    padding: 0;
}

.login-sing{
    display: grid;
    grid-template-columns: 1fr auto;
    top: 3em;
    left: 3em;
    
}


